<!DOCTYPE HTML>

<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

	<title>(( server.title )) - Реестр результатов анализов и тестирования</title>

	<link rel="shortcut icon" type="image/png" href="/favicon.png">
	<link rel="stylesheet" href="/static/_design/assets/css/main.css" />
	<link rel="stylesheet" href="/static/_design/assets/css/main_ext.css" />

	<style>
		.form-profile {
			max-width: 700px;
		}
	</style>

	<script src="/static/_design/extern/es6-promise.js-v4.2.6/es6-promise.auto.js"></script>
	<script src="/static/_design/extern/axios.js-v0.18.0/axios.js"></script>
	<script src="/static/_design/extern/lodash.js-v4.17.11/lodash.js"></script>
	<script src="/static/_design/extern/vue.js-v2.5.22/vue.js"></script>

</head>
<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<a href="/" class="logo"><h2>Реестр результатов анализов и&nbsp;тестирования</h2></a>
				</header>

				<!-- Banner -->
				<section id="banner">
					<div class="content" id="analisis">

						(% if not server.isOk %)
							<header class="major1">
								<!--Breadcrumbs-->
								<div class="breadcrumbs"><a href="/">Пациенты</a> &nbsp;&nbsp;/&nbsp;&nbsp; (( server.title | safe )) </div>
							</header>
						
						(% else %)
						<header class="major1">
							<!--Breadcrumbs-->
							<div class="breadcrumbs">
								<a href="/">Пациенты</a>
								&nbsp;&nbsp;/&nbsp;&nbsp; (( server.title | safe ))
								&nbsp;&nbsp;/&nbsp;&nbsp; (( server.analysis_type_str )) (('(#'))(( server.analysis_id )))
							</div>

						</header>
							<br>

							<div v-if="analysis_type == 5 || analysis_type == 6" class="table-wrapper">

								<ul class="alt">
									<li><b>Исследование выполнил:</b> &nbsp;&nbsp;&nbsp; <span v-html="user"></span></li>
									<li><b>Дата выполнения:</b> &nbsp;&nbsp;&nbsp; <span v-html="date_of_creation"></span></li>
									<li><b>Результат:</b> &nbsp;&nbsp;&nbsp; <span v-html="result"></span></li>
								</ul>

								<br>

								<table class="alt">
									<thead>
										<tr>
											<th>№</th>
											<th>Параметр</th>
											<th>Значение</th>
											<th>Очки</th>
										</tr>
									</thead>
									<tbody>
										<tr v-for="(item, i) in data.items" :key="i">
											<td v-html="i + 1"></td>
											<td v-html="item.name"></td>
											<td v-html="item.label"></td>
											<td v-html="item.points"></td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<td colspan="3" align="right">Всего очков</td>
											<td v-html="data.points"></td>
										</tr>
									</tfoot>
								</table>
							</div>

							<p v-else>
								Нет записей
							</p>
						(% endif %)
					</div>
				</section>

			</div>
		</div>

		<!-- Sidebar -->
		<div id="sidebar">
			<div class="inner">

				<!-- Search -->
				<section id="search" class="alt">
					<form method="post" action="/#" style="margin-bottom: 1.2em;">
						<a class="button fit1 primary" href="/logout" title="Выйти" style="padding: 0 1.2em;">
							<i class="fa fa-sign-out fa-flip-horizontal fa-2x" style="vertical-align: middle;"></i>
						</a>

						<b class="f-right" style="font-size: 1.4em; vertical-align: baseline;">
							<a href="/profile" title="Профиль">
								(( server.username ))
							</a>
						</b>
					</form>

					<form id="search_form" method="post" action="#">
						<input type="text" name="query" id="query" placeholder="Поиск" />
					</form>
				</section>



				<!-- Menu -->
				<nav id="menu">
					<header class="major">
						<h2>Меню</h2>
					</header>
					<ul>
						(% for menu in server.menus %)
						(% if not menu.submenus %)
						<li><a href="(( menu.href ))">(( menu.text ))</a></li>
						(% else %)
						<li>
							<span class="opener">(( menu.text ))</span>
							<ul>
								(% for submenu in menu.submenus %)
								<li><a href="(( submenu.href ))">(( submenu.text ))</a></li>
								(% endfor %)
							</ul>
						</li>
						(% endif %)
						(% endfor %)
					</ul>
				</nav>

				<!-- Section -->
				<!--
				<section>
					<header class="major">
						<h2>Связь</h2>
					</header>
					<ul class="contact">
						<li class="fa-envelope-o"><a href="#">mail@ya.ru</a></li>
						<li style="padding-left: 0em;" class="gtr-uniform">
							<div class="row gtr-uniform">
								<div class="col-12">
									<textarea name="link-message" id="link-message" placeholder="Или напишете сообщение сюда" rows="6"></textarea>
								</div>
								<div class="col-12">
									<input type="submit" value="Отправить сообщение" class="primary" />
								</div>
							</div>
						</li>
					</ul>


				</section>-->
				<!-- Footer -->
				<!--<footer id="footer">
					<p class="copyright">&copy; 2019. regrr.ru. Все права защищены.<br> Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
				</footer>-->

			</div>
		</div>

	</div>

	<script>
		var data = {};
		try {
			((server.data | safe));
		}
		catch (e) {
			console.log('Серверные данные не были проинициализированы');
		}

		var icon_ok = 'fa fa-2x fa-check clr-green';
		var icon_fail = 'fa fa-2x fa-exclamation-triangle clr-red';
		var icon_wait = 'fa fa-2x fa-refresh fa-spin clr-blue';


		function makeUrlFromRoute(route, params) {
			for (key in params) {
				var param = params[key];
				var t = typeof param;
				if (t === 'string' || t === 'number')
					route = route.replace(new RegExp('<' + key + '>', 'gm'), param);
			}

			if (/<\w+(\:\w*)*>/gm.test(route))
				console.warn('makeUrlFromRoute => Не все параметры маршрута заданы', route);

			return route;
		}

		data.route_patient_analysis_type_analysis = data.route_patient_analysis_type_analysis
			|| '/patient/<patient_id>/analysis_type/<analysis_type>/analysis/<analysis_id>';

		if (typeof data.data === 'string')
			data.data = JSON.parse(data.data);

		var app = new Vue({
			el: '#analisis',
			/*
				data['patient_id'] = patient_id
				data['analysis_type'] = analysis_type
				data['analyzes'] = [{
				}]
			*/
			data: data,
			methods: {
				makeLink: function (href, text) {
					return '<a href="' + href + '">' + text + '</a>';
				},

				makeLinkAnalysis: function (analysis, text) {
					var href = makeUrlFromRoute(this.route_patient_analysis_type_analysis, {
						patient_id: this.patient_id,
						analysis_type: this.analysis_type,
						analysis_id: analysis.id
					});
					
					var s = this.makeLink(href, text);
					return s;
				}
			}
		});

	</script>

	<!-- Scripts -->
	<script src="/static/_design/assets/js/jquery.min.js"></script>
	<script src="/static/_design/assets/js/browser.min.js"></script>
	<script src="/static/_design/assets/js/breakpoints.min.js"></script>
	<script src="/static/_design/assets/js/util.js"></script>
	<script src="/static/_design/assets/js/main.js"></script>

</body>
</html>