(% extends "layout.html" %)
(% import "macros.html" as macros %)


(% block block_head %)
<style>
	#table_orgamizations {
		font-size: 0.9em;
	}

		#table_orgamizations th,
		#table_orgamizations td {
			width: auto;
		}
</style>

<script src="/static/_design/extern/vue.js-v2.5.22/vue.js"></script>
(% endblock %)



(% block content %)

	(% if server.isAdmin %)

	<div class="row">
		<div class="col-12">
			<a class="button primary" href="/user_add" title="Добавить нового пользователя">Добавить</a>
		</div>
	</div>

	<br>

	<div class="table-wrapper" id="users">
		<table class="alt">
			<thead>
				<tr>
					<th>№</th>
					<th>Логин</th>
					<th>ФИО</th>
					<th>Должность</th>
					<th>email</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(user, i) in users" key="user.id">
					<td v-html="i + 1"></td>
					<td v-html="getUsername(user)"></td>
					<td v-html="getFullname(user)"></td>
					<td v-html="user.position"></td>
					<td v-html="user.email"></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<!--										<td v-html="users.length"></td>
		-->
				</tr>
			</tfoot>
		</table>
	</div>

	(( macros.pagination(server.pagination) ))

	<script>

		var data = {
			username: 'ivanov',
			users: [],
			url_user: '/user'
		};

		try {
			(( server.data | safe));
		}
		catch (e) {
			console.log('Серверные данные не были проинициализированы (users)');
		}

		data.url_user = data.url_user || '/user';
		data.users = data.users || [];


		var appUsers = new Vue({
			el: '#users',
			data: data,/*,
			mounted: function () {
				$('<script src="//static//_design//assets//js//main.js"><//script>')
					.appendTo('body');
			}*/
			methods: {
				_makeA: function (href, text) {
					return '<a href="' + href + '">' + text + '</a>';
				},
				getUsername: function (user) {
					return this._makeA(this.url_user + '/' + user.username, user.username);
				},
				getFullname: function (user) {
					var fullname = user.lastname + ' ' + user.firstname + ' ' + user.middlename;
					return this._makeA(this.url_user + '/' + user.username, fullname);
				}
			}
		});
	</script>

	(% else %) <!-- !server.isAdmin -->

	<div class="row">
		<div class="col-12">
			<a class="button primary" href="/patient_add" title="Добавить нового пациента">Добавить</a>
		</div>
	</div>

	<br>

	<div class="table-wrapper" id="patients">
		<table class="alt">
			<thead>
				<tr>
					<th>№</th>
					<th>ФИО</th>
					<th>Отеделение</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(patient, i) in patients" key="patient.id">
					<td v-html="i + 1"></td>
					<td v-html="getFullname(patient)"></td>
					<td v-html="patient.department"></td>
					<td v-html="patient.diagnosis"></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<!--										<td v-html="patients.length"></td>
		-->
				</tr>
			</tfoot>
		</table>
	</div>

	(( macros.pagination(server.pagination) ))

	<script>

		function make_patient(fullname, department, date_of_birth) {
			return {
				fullname: fullname,
				department: department,
				date_of_birth: date_of_birth,
			};
		}

		var patients = [
			make_patient('Петров Петр Петрович', '9. Отделение анестезиологии-реанимации', '01.01.1980'),
			make_patient('Иванов Иван Иванович', '4. Хирургическое отделение абдоминальной онкологии', '02.02.1960'),
			make_patient('Сидоров Сидор Сидорович', '4. Хирургическое отделение абдоминальной онкологии', '12.02.1970'),
			make_patient('Петров Петр Петрович', '9. Отделение анестезиологии-реанимации', '01.01.1980'),
			make_patient('Иванов Иван Иванович', '4. Хирургическое отделение абдоминальной онкологии', '02.02.1960'),
			make_patient('Сидоров Сидор Сидорович', '4. Хирургическое отделение абдоминальной онкологии', '12.02.1970'),
			make_patient('Петров Петр Петрович', '9. Отделение анестезиологии-реанимации', '01.01.1980'),
			make_patient('Иванов Иван Иванович', '4. Хирургическое отделение абдоминальной онкологии', '02.02.1960'),
		];

		var data = {
			username: 'ivanov',
			patients: patients,
			url_user: '/user'
		};

		try {
			(( server.data | safe));
		}
		catch (e) {
			console.log('Серверные данные не были проинициализированы (patients)');
		}

		data.url_patient = data.url_patient || '/patient';
		data.users = data.users || [];


		var appPatients = new Vue({
			el: '#patients',
			data: data,/*,
			mounted: function () {
				$('<script src="//static//_design//assets//js//main.js"><//script>')
					.appendTo('body');
			}*/
			methods: {
				_makeA: function (href, text) {
					return '<a href="' + href + '">' + text + '</a>';
				},
				getFullname: function (patient) {
					var fullname = patient.lastname + ' ' + patient.firstname + ' ' + patient.middlename;
					return this._makeA(this.url_patient + '/' + patient.id, fullname);
				}
			}
		});
	</script>

	(% endif %) <!-- !server.isAdmin -->

(% endblock %)
