(% macro sidebar(server) %)

	<!-- Sidebar -->
	<div id="sidebar">
		<div class="inner">

			<!-- Search -->
			<section id="search" class="alt">
				<form method="post" action="/#" style="margin-bottom: 1.2em;">
					<a class="button fit1 primary" href="/logout" title="Выйти" style="padding: 0 1.2em;">
						<i class="fa fa-sign-out fa-flip-horizontal fa-2x" style="vertical-align: middle;"></i>
					</a>

					<b class="f-right" style="font-size: 1.4em; vertical-align: baseline;">
						<a href="/profile" title="Профиль">
							(( server.username ))
						</a>
					</b>
				</form>

				<form id="search_form" method="post" action="#">
					<input type="text" name="query" id="query" placeholder="Поиск" />
				</form>
			</section>


			<!-- Menu -->
			<nav id="menu">
				<header class="major">
					<h2>Меню</h2>
				</header>
				<ul>
					(% for menu in server.menus %)
					(% if not menu.submenus %)
					<li><a href="(( menu.href ))">(( menu.text ))</a></li>
					(% else %)
					<li>
						<span class="opener">(( menu.text ))</span>
						<ul>
							(% for submenu in menu.submenus %)
							<li><a href="(( submenu.href ))">(( submenu.text ))</a></li>
							(% endfor %)
						</ul>
					</li>
					(% endif %)
					(% endfor %)
				</ul>
			</nav>

			<!-- Section -->
			<!--
			<section>
				<header class="major">
					<h2>Связь</h2>
				</header>
				<ul class="contact">
					<li class="fa-envelope-o"><a href="#">mail@ya.ru</a></li>
					<li style="padding-left: 0em;" class="gtr-uniform">
						<div class="row gtr-uniform">
							<div class="col-12">
								<textarea name="link-message" id="link-message" placeholder="Или напишете сообщение сюда" rows="6"></textarea>
							</div>
							<div class="col-12">
								<input type="submit" value="Отправить сообщение" class="primary" />
							</div>
						</div>
					</li>
				</ul>


			</section>-->
			<!-- Footer -->
			<!--<footer id="footer">
				<p class="copyright">&copy; 2019. regrr.ru. Все права защищены.<br> Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
			</footer>-->

		</div>
	</div>

(% endmacro %)
