(% extends "layout.html" %)
(% import "macros.html" as macros %)


(% block block_head %)
<style>
	#form_profile {
		max-width: 700px;
	}
</style>
(% endblock %)


(% block content %)

	<div>

		<div class="row">
			<div class="col-12">
				<a class="button primary"
					href="/patient/((server.patient_id))/analysis_type/((server.analysis_type))/analysis_add"
					title="Добавить новый анализ">Добавить</a>
			</div>
		</div>
		<br>

		(% if server.pagination.list|length == 0 %)

			<p>Нет записей</p>
		
		(% else %)

			<div id="analizes" class="table-wrapper" v-cloak>
				<table class="alt">
					<thead>
						<tr>
							<th>№</th>
							<th>#</th>
							<th v-if="tests">
								<select v-model="model_test">
									<option
											v-for="(test, i) in tests"
											v-bind:value="i"
											>
										{{ test.name }}
									</option>
								</select>
							</th>
							<th v-else>
								Результат
							</th>
							<th>Исследование выполнил</th>
							<th>Дата выполнения</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(analysis, i) in analyzes" :key="i">
							<td v-html="analyzes_offset + i + 1"></td>
							<td v-html="makeLinkAnalysis(analysis, analysis.id)"></td>
							<td v-if="tests" v-html="analyzes[i].data.items[model_test]"></td>
							<td v-else v-html="makeLinkAnalysis(analysis, analysis.result)"></td>
							<td v-html="analysis.user"></td>
							<td v-html="analysis.date_of_creation"></td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<!--										<td v-html="patients.length"></td>
							-->
						</tr>
					</tfoot>
				</table>
			</div>

			(( macros.pagination(server.pagination) ))



			<script>
				var data = {};

				try {
					((server.data | safe));
				}
				catch (e) {
					console.log('Серверные данные не были проинициализированы');
				}

				if (!data.tests)
					data.tests = null;

				for (var i = 0, n = data.analyzes.length; i < n; ++i) {
					var analysis = data.analyzes[i];
					if (typeof analysis.data === 'string')
						analysis.data = JSON.parse(analysis.data);

				}

				data.analyzes_offset = data.analyzes_offset || 0;
				data.model_test = 0;

				data.route_patient_analysis_type_analysis = data.route_patient_analysis_type_analysis
					|| '/patient/<patient_id>/analysis_type/<analysis_type>/analysis/<analysis_id>';


				var app = new Vue({
					el: '#analizes',
					data: data,
					methods: {
						makeLink: function (href, text) {
							return '<a href="' + href + '">' + text + '</a>';
						},

						makeLinkAnalysis: function (analysis, text) {
							var href = Utils.routes.makeUrlFromRoute(this.route_patient_analysis_type_analysis, {
								patient_id: this.patient_id,
								analysis_type: this.analysis_type,
								analysis_id: analysis.id
							});

							var s = this.makeLink(href, text);
							return s;
						}
					}
				});

			</script>

		(% endif %)

	</div>



(% endblock %)
