(% extends "layout.html" %)
(% import "macros.html" as macros %)


(% block block_head %)
(% endblock %)



(% block content %)

	<ul class="alt">
		<li><b>Дата рождения:</b> &nbsp;&nbsp;&nbsp;(( server.patient.date_of_birth ))</li>
		<li><b>Отеделение:</b> &nbsp;&nbsp;&nbsp;(( server.patient.department ))</li>
		<li><b>Диагноз:</b> &nbsp;&nbsp;&nbsp;(( server.patient.diagnosis ))</li>
	</ul>

	<br>

	<div class="row">
		<div class="col-10 col-12-small">
			<div class="row">

				(% for item in server.analysis_types %)
				<div class="col-4 col-6-xlarge col-12-small mb-1_5em">
					<a href="/patient/(( server.patient.id ))/analysis_type/(( item.id ))/analysis" class="button fit primary">
						(( item.text ))
					</a>
				</div>
				(% endfor %)

			</div>
		</div>
	</div>


(% endblock %)
