<!DOCTYPE HTML>

<html>
<head>
	<title>(( server.title )) - Реестр результатов анализов и тестирования</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

	<link rel="shortcut icon" type="image/png" href="/favicon.png">
	<link rel="stylesheet" href="/static/_design/assets/css/main.css" />
	<link rel="stylesheet" href="/static/_design/assets/css/main_ext.css" />

	<style>
		.form-profile {
			max-width: 700px;
		}

	</style>

	<script src="/static/_design/extern/es6-promise.js-v4.2.6/es6-promise.auto.js"></script>
	<script src="/static/_design/extern/axios.js-v0.18.0/axios.js"></script>
	<script src="/static/_design/extern/lodash.js-v4.17.11/lodash.js"></script>
	<script src="/static/_design/extern/vue.js-v2.5.22/vue.js"></script>

</head>
<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<a href="/" class="logo"><h2>Реестр результатов анализов и&nbsp;тестирования</h2></a>
				</header>

				<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header class="major1">
							<h2>(( server.title ))</h2>
						</header>

						<br>

						<form method="post" action="/patient_add" class="form-profile">
							<div class="row gtr-uniform">

								<!-- label + input - lastname -->
								<div class="col-4 col-10-xsmall">
									<input class="input-static input-static-bold" type="text" value="Фамилия" disabled />
								</div>

								<div class="col-0 col-2-xsmall align-right">
									<div v-if="lastname_icon" class="icon-va-center">
										<i :class="[lastname_icon]"></i>
									</div>
								</div>

								<div class="col-7 col-12-xsmall">
									<input type="text" name="lastname" id="lastname"
										:value="lastname"
										@input="lastname = $event.target.value"
										placeholder="Фамилия"
										required />
								</div>
								<div class="col-1 col-0-xsmall">
									<div v-if="lastname_icon" class="icon-va-center">
										<i :class="[lastname_icon]"></i>
									</div>
								</div>

								<!-- label + input - firstname -->
								<div class="col-4 col-10-xsmall">
									<input class="input-static input-static-bold" type="text" value="Имя" disabled />
								</div>

								<div class="col-0 col-2-xsmall align-right">
									<div v-if="firstname_icon" class="icon-va-center">
										<i :class="[firstname_icon]"></i>
									</div>
								</div>

								<div class="col-7 col-12-xsmall">
									<input type="text" name="firstname" id="firstname"
										:value="firstname"
										@input="firstname = $event.target.value"
										placeholder="Имя"
										required />
								</div>
								<div class="col-1 col-0-xsmall">
									<div v-if="firstname_icon" class="icon-va-center">
										<i :class="[firstname_icon]"></i>
									</div>
								</div>

								<!-- label + input - middlename -->
								<div class="col-4 col-10-xsmall">
									<input class="input-static input-static-bold" type="text" value="Отчество" disabled />
								</div>

								<div class="col-0 col-2-xsmall align-right">
									<div v-if="middlename_icon" class="icon-va-center">
										<i :class="[middlename_icon]"></i>
									</div>
								</div>

								<div class="col-7 col-12-xsmall">
									<input type="text" name="middlename" id="middlename"
										:value="middlename"
										@input="middlename = $event.target.value"
										placeholder="Отчество"
										required />
								</div>
								<div class="col-1 col-0-xsmall">
									<div v-if="middlename_icon" class="icon-va-center">
										<i :class="[middlename_icon]"></i>
									</div>
								</div>

								<!-- label + input - date_of_birth -->
								<div class="col-4 col-10-xsmall">
									<input class="input-static input-static-bold" type="text" value="Дата рождения" disabled />
								</div>

								<div class="col-0 col-2-xsmall align-right">
									<div v-if="date_of_birth_icon" class="icon-va-center">
										<i :class="[date_of_birth_icon]"></i>
									</div>
								</div>

								<div class="col-7 col-12-xsmall">
									<input type="text" name="date_of_birth" id="date_of_birth"
										:value="date_of_birth"
										@input="date_of_birth = $event.target.value"
										placeholder="Дата рождения"
										required />
								</div>
								<div class="col-1 col-0-xsmall">
									<div v-if="date_of_birth_icon" class="icon-va-center">
										<i :class="[date_of_birth_icon]"></i>
									</div>
								</div>


								<!-- label + input department -->
								<div class="col-4 col-10-xsmall">
									<input class="input-static input-static-bold" type="text" value="Отделение" disabled />
								</div>

								<div class="col-0 col-2-xsmall align-right">
									<div v-if="department_icon" class="icon-va-center">
										<i :class="[department_icon]"></i>
									</div>
								</div>

								<div class="col-7 col-12-xsmall">
									<input type="text" name="department" id="department"
										:value="department"
										@input="department = $event.target.value"
										placeholder="Отделение"
										required />
								</div>
								<div class="col-1 col-0-xsmall">
									<div v-if="department_icon" class="icon-va-center">
										<i :class="[department_icon]"></i>
									</div>
								</div>


								<!-- label + input diagnosis -->
								<div class="col-4 col-10-xsmall">
									<input class="input-static input-static-bold" type="text" value="Диагноз" disabled />
								</div>

								<div class="col-0 col-2-xsmall align-right">
									<div v-if="diagnosis_icon" class="icon-va-center">
										<i :class="[diagnosis_icon]"></i>
									</div>
								</div>

								<div class="col-7 col-12-xsmall">
									<textarea name="diagnosis" id="diagnosis"
										:value="diagnosis"
										@input="diagnosis = $event.target.value"
										placeholder="Диагноз"
										rows="6"
										required>
									</textarea>
								</div>
								<div class="col-1 col-0-xsmall">
									<div v-if="diagnosis_icon" class="icon-va-center">
										<i :class="[diagnosis_icon]"></i>
									</div>
								</div>


								<!-- submit -->
								<div class="col-12">
									<ul class="actions">
										<li>
											<input 
												type="submit"
												value="Добавить"
												class="primary"
												:disabled="!isEnableAdd"
												/>
										</li>
									</ul>
								</div>
							</div>
						</form>


					</div>
				</section>

			</div>
		</div>

		<!-- Sidebar -->
		<div id="sidebar">
			<div class="inner">

				<!-- Search -->
				<section id="search" class="alt">
					<form method="post" action="/#" style="margin-bottom: 1.2em;">
						<a class="button fit1 primary" href="/logout" title="Выйти" style="padding: 0 1.2em;">
							<i class="fa fa-sign-out fa-flip-horizontal fa-2x" style="vertical-align: middle;"></i>
						</a>

						<b class="f-right" style="font-size: 1.4em; vertical-align: baseline;">
							<a href="/profile" title="Профиль">
								(( server.username ))
							</a>
						</b>
					</form>

					<form id="search_form" method="post" action="#">
						<input type="text" name="query" id="query" placeholder="Поиск" />
					</form>
				</section>



				<!-- Menu -->
				<nav id="menu">
					<header class="major">
						<h2>Меню</h2>
					</header>
					<ul>
						(% for menu in server.menus %)
						(% if not menu.submenus %)
						<li><a href="(( menu.href ))">(( menu.text ))</a></li>
						(% else %)
						<li>
							<span class="opener">(( menu.text ))</span>
							<ul>
								(% for submenu in menu.submenus %)
								<li><a href="(( submenu.href ))">(( submenu.text ))</a></li>
								(% endfor %)
							</ul>
						</li>
						(% endif %)
						(% endfor %)
					</ul>
				</nav>

				<!-- Section -->
				<!--
				<section>
					<header class="major">
						<h2>Связь</h2>
					</header>
					<ul class="contact">
						<li class="fa-envelope-o"><a href="#">mail@ya.ru</a></li>
						<li style="padding-left: 0em;" class="gtr-uniform">
							<div class="row gtr-uniform">
								<div class="col-12">
									<textarea name="link-message" id="link-message" placeholder="Или напишете сообщение сюда" rows="6"></textarea>
								</div>
								<div class="col-12">
									<input type="submit" value="Отправить сообщение" class="primary" />
								</div>
							</div>
						</li>
					</ul>


				</section>-->
				<!-- Footer -->
				<!--<footer id="footer">
					<p class="copyright">&copy; 2019. regrr.ru. Все права защищены.<br> Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
				</footer>-->

			</div>
		</div>

	</div>

	<script>
		var rx_email = /^(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9]))\.){3}(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9])|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])$/gm;
		var data = {};

		try {
			((data | safe));
		}
		catch (e) {
			console.log('Серверные данные не были проинициализированы');
		}

		var icon_ok = 'fa fa-2x fa-check clr-green';
		var icon_fail = 'fa fa-2x fa-exclamation-triangle clr-red';
		var icon_wait = 'fa fa-2x fa-refresh fa-spin clr-blue';


		data.username = data.username || '';
		data.username_icon = null;
		data.lastname = data.lastname || '';
		data.lastname_icon = null;
		data.firstname = data.firstname || '';
		data.firstname_icon = null;
		data.middlename = data.middlename || '';
		data.middlename_icon = null;
		data.date_of_birth = data.date_of_birth || '';
		data.date_of_birth_icon = null;
		data.department = data.department || '';
		data.department_icon = null;
		data.diagnosis = data.diagnosis || '';
		data.diagnosis_icon = null;

		//data.editing = data.editing || true;
		//data.saving = data.saving || false;

		var app = new Vue({
			el: '#wrapper',
			data: data,

			created: function () {
				this.debouncedTestUsername = _.debounce(this.testUsername, 500)
			},

			computed: {
				isEnableAdd: function () {
					if (
						//this.username_icon == icon_ok
						/*&&*/ this.lastname_icon == icon_ok
						&& this.firstname_icon == icon_ok
						&& this.middlename_icon == icon_ok
						&& this.date_of_birth_icon == icon_ok
						&& this.department_icon == icon_ok
						&& this.diagnosis_icon == icon_ok
						)
						return true;

					return false;
				}
			},
			watch: {
				username: function (val, valOld) {
					console.log('App.watch:username', val);
					this.username_icon = icon_wait;
					this.debouncedTestUsername();
				},
				lastname: function (val, valOld) {
					this.lastname_icon = val != '' ?  icon_ok : icon_fail;
				},
				firstname: function (val, valOld) {
					this.firstname_icon = val != '' ? icon_ok : icon_fail;
				},
				middlename: function (val, valOld) {
					this.middlename_icon = val != '' ? icon_ok : icon_fail;
				},
				date_of_birth: function (val, valOld) {
					this.date_of_birth_icon = val != '' ? icon_ok : icon_fail;
				},
				department: function (val, valOld) {
					this.department_icon = val != '' ? icon_ok : icon_fail;
				},
				diagnosis: function (val, valOld) {
					this.diagnosis_icon = val != '' ? icon_ok : icon_fail;
				},
			},
			methods: {
				testUsername: function () {
					if (this.username == '') {
						this.username_icon = icon_fail;
						return;
					}

					this.username_icon = icon_wait;

					var vm = this;
					axios.post('/api/v1.0/test_username', {
						username: this.username
					})
					.then(function (response) {
						console.log(response.data.result);
						vm.username_icon = response.data.result ? icon_ok : icon_fail;
					})
					.catch(function (error) {
						vm.username_icon = icon_fail;
						console.log('Error!');
					});
				}
			}
		});

	</script>

	<!-- Scripts -->
	<script src="/static/_design/assets/js/jquery.min.js"></script>
	<script src="/static/_design/assets/js/browser.min.js"></script>
	<script src="/static/_design/assets/js/breakpoints.min.js"></script>
	<script src="/static/_design/assets/js/util.js"></script>
	<script src="/static/_design/assets/js/main.js"></script>

</body>
</html>