(% extends "layout.html" %)
(% import "macros.html" as macros %)


(% block block_head %)
<style>
	#form_profile {
		max-width: 700px;
	}

	.fs-small {
		font-size: 0.85em;
	}

	.fs-large {
		font-size: 1.2em;
	}

	.mobile-header-clr {
		color:#7f888f;
	}

	.header-label {
		display: flex;
		flex-direction: row;
	}

	.header-label--icon {
		flex-grow: 0;
		align-self: center;
		padding-right: 0.8em;
		color:rgba(210, 215, 217, 0.75);
	}

	.header-label--icon-active {
		color:#7f888f;
	}

	.header-label--text {
		flex-grow: 1;
		align-self: center;
	}


</style>
(% endblock %)


(% block content %)

<div>
	<div class="row">
		<div class="col-12">
			<a class="button primary"
				href="/patient/((server.patient_id))/analysis_type/((server.analysis_type))/analysis_add"
				title="Добавить новый анализ">Добавить</a>
		</div>
	</div>
	<br>
	(% if server.pagination.list|length == 0 %)

	<p>Нет записей</p>
	(% else %)

	<div id="analizes" v-cloak>
		<ul class="actions" style="margin-bottom: 1em;">
			<li>
				<input type="text" value="Сортировка" disabled="disabled" class="input-static">
			</li>
			<li>
				<select v-model="model_sort">
					<option v-for="(sort, i) in sorts" v-bind:value="sort.value">
						{{ sort.text }}
					</option>
				</select>

			</li>
		</ul>

		<div class="table-wrapper">

			<table class="alt" v-if="!isMobile">
				<thead>
					<tr>
						<th class="va-m">№</th>
						<th class="va-m">
<!--							<span class="fa-stack fa-lg">
								<i class="fa fa-sort-asc fa-stack-1x"></i>
								<i class="fa fa-sort-desc fa-stack-1x"></i>
							</span>&nbsp;-->ID
						</th>
						<th class="va-m">Исследование выполнил</th>
						<th class="va-m fs-small" v-html="makeHeaderLabel('Дата фиксации')"></th>
						<th class="va-m fs-small" v-html="makeHeaderLabel('Дата поступления образца')"></th>
						<th class="va-m fs-small" v-html="makeHeaderLabel('Дата доставки биоматериала')"></th>
						<th class="va-m fs-small" v-html="makeHeaderLabel('Дата выполнения')"></th>
						<th class="va-m" v-if="tests">
							<select v-model="model_test">
								<option v-for="(test, i) in tests" v-bind:value="i">
									{{ test.name }}
								</option>
							</select>
						</th>
						<th class="va-m" v-else>
							Результат
						</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(analysis, i) in analyzes" v-bind:key="i">
						<td v-html="analyzes_offset + i + 1"></td>
						<td v-html="makeLinkAnalysis(analysis, analysis.id)"></td>
						<td style="width1:25%" class="va-m" v-html="nbsp(analysis.user)"></td>
						<td style="width1:15%" class="va-m fs-small" v-html="nbsp(analysis.date_of_creation)"></td>
						<td style="width1:15%" class="va-m fs-small" v-html="nbsp(analysis.date_receipt_example)"></td>
						<td style="width1:15%" class="va-m fs-small" v-html="nbsp(analysis.date_delivery_biomaterial)"></td>
						<td style="width1:15%" class="va-m fs-small" v-html="nbsp(analysis.date_completion)"></td>
						<td class="va-m ta-c" v-if="tests" v-html="analysis.data.items[model_test]"></td>
						<td class="va-m ta-c" v-else v-html="makeLinkAnalysis(analysis, analysis.result)"></td>
					</tr>
				</tbody>
			</table>
			<table class="alt" v-else>
				<thead>
					<tr>
						<th class="va-m">№</th>
						<th class="va-m">
							<div><b>ID</b></div>
							<div class="fs-small mobile-header-clr" v-html="nbsp('Исследование выполнил')"></div>
							<div class="fs-small mobile-header-clr" v-html="makeHeaderLabel('Дата фиксации')"></div>
							<div class="fs-small mobile-header-clr" v-html="makeHeaderLabel('Дата поступления образца')"></div>
							<div class="fs-small mobile-header-clr" v-html="makeHeaderLabel('Дата доставки биоматериала')"></div>
							<div class="fs-small mobile-header-clr" v-html="makeHeaderLabel('Дата выполнения')"></div>
						</th>
						<th class="va-m" v-if="tests">
							<select v-model="model_test">
								<option v-for="(test, i) in tests" v-bind:value="i">
									{{ test.name }}
								</option>
							</select>
						</th>
						<th class="va-m" v-else>
							Результат
						</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(analysis, i) in analyzes" v-bind:key="i">
						<td class="va-m ta-r" v-html="analyzes_offset + i + 1"></td>
						<td class="va-m" style="width:45%">
							<div v-html="makeLinkAnalysis(analysis, analysis.id)"></div>
							<div class="fs-small" v-html="nbsp(analysis.user)"></div>
							<div class="fs-small" v-html="nbsp(analysis.date_of_creation)"></div>
							<div class="fs-small" v-html="nbsp(analysis.date_receipt_example)"></div>
							<div class="fs-small" v-html="nbsp(analysis.date_delivery_biomaterial)"></div>
							<div class="fs-small" v-html="nbsp(analysis.date_completion)"></div>
						</td>
						<td class="va-m ta-c" v-if="tests" v-html="analyzes[i].data.items[model_test]"></td>
						<td class="va-m ta-c" v-else v-html="makeLinkAnalysis(analysis, analysis.result)"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	(( macros.pagination(server.pagination) ))



	<script>
		var data = {};

		try {
			((server.data | safe));
		}
		catch (e) {
			console.log('Серверные данные не были проинициализированы');
		}

		if (!data.tests)
			data.tests = null;

		for (var i = 0, n = data.analyzes.length; i < n; ++i) {
			var analysis = data.analyzes[i];
			if (typeof analysis.data === 'string')
				analysis.data = JSON.parse(analysis.data);
		}

		data.analyzes_offset = data.analyzes_offset || 0;
		data.model_test = 0;

		data.route_patient_analysis_type_analysis = data.route_patient_analysis_type_analysis
			|| '/patient/<patient_id>/analysis_type/<analysis_type>/analysis/<analysis_id>';

		data.sorts = [];
		data.addSort = function (text, value) {
			data.sorts.push({
				text: text +' (сначала последние)',
				value: value + '__desc'
			});
			data.sorts.push({
				text: text +' (сначала первые)',
				value: value
			});
		};

		data.addSort('Дата фиксации', 'date_of_creation');
		data.addSort('Дата поступления образца', 'date_receipt_example');
		data.addSort('Дата доставки биоматериала', 'date_delivery_biomaterial');
		data.addSort('Дата выполнения', 'date_completion');
		var sort_def = data.sorts[0].value;

		var u = new Url();
		data.model_sort = u.query.sort;

		if (!_.find(data.sorts, function(item) {
			return item.value == data.model_sort;
		})) {
			data.model_sort = sort_def;
		}

		data.model_sort_item = _.find(data.sorts, function(item) {
			return item.value == data.model_sort;
		})

		document.addEventListener("DOMContentLoaded", function (event) {

			data.isMobile = breakpoints.active('min-to-small');

			var app = new Vue({
				el: '#analizes',
				data: data,
				watch: {
					model_sort: function (val) {
						var u = new Url();
						if (val == sort_def)
							delete u.query.sort;
						else
							u.query.sort = val;
						window.location.href = u.toString();
					}
				},
				methods: {
					nbsp: Utils.html.nbsp,
					makeLinkAnalysis: function (analysis, text) {
						var href = Utils.routes.makeUrlFromRoute(this.route_patient_analysis_type_analysis, {
							patient_id: this.patient_id,
							analysis_type: this.analysis_type,
							analysis_id: analysis.id
						});

						var s = Utils.html.a(href, text);
						return s;
					},

					makeHeaderLabel: function (label) {
						//var icon = 'fa-sort-amount-asc f-transparent';
						var icon_asc = '';
						var icon_desc = '';
						if (_.startsWith(data.model_sort_item.text, label)) {
							if (_.endsWith(data.model_sort_item.value, '__desc')) 
								icon_desc = 'header-label--icon-active';
							else
								icon_asc = 'header-label--icon-active';
						}
						var text = '';
/*						text += '<div class="header-label">';
						text += '  <i class="header-label--icon fa ' + icon + '"></i>';
						text += '  <div class="header-label--text">' + label + '</div>';
						text += '</div>';
*/
						text += '<div class="header-label">';
						text += '  <span class="header-label--icon fa-stack fa-lg">';
						text += '    <i class="fa fa-sort-asc fa-stack-1x ' + icon_asc + '"></i>';
						text += '    <i class="fa fa-sort-desc fa-stack-1x ' + icon_desc + '"></i>';
						text += '  </span>';
						text += '  <div class="header-label--text">' + label + '</div>';
						text += '</div>';
						return text;
					}


				}
			});

			breakpoints.on('min-to-small', function () {
				app.isMobile = true;
				console.log('ACTIVE min-to-small');
			});
			breakpoints.on('small-to-max', function () {
				app.isMobile = false;
				console.log('ACTIVE small-to-max');
			});

		});

	</script>
	(% endif %)

</div>

(% endblock %)
