(% extends "layout.html" %)
(% import "macros.html" as macros %)


(% block block_head %)
<style>
	#form_profile {
		max-width: 700px;
	}
</style>
(% endblock %)



(% block content %)

	<form v-cloak method="post" action="#" id="form_profile">
		<div class="row gtr-uniform">

			<!-- username -->
			<div class="col-4 col-12-xsmall">
				<input class="input-static input-static-bold" type="text" value="Логин" disabled />
			</div>
			<div class="col-8 col-12-xsmall">
				<input class="input-static" type="text"
					:value="user.username"
					@input="user.username = $event.target.value"
					disabled />
			</div>


			<!-- lastname -->
			<div class="col-4 col-12-xsmall"><!-- <div class="col-4 col-10-xsmall"> -->
				<input class="input-static input-static-bold" type="text" value="Фамилия" disabled />
			</div>
			<!--
			<div class="col-0 col-2-xsmall align-right">
				<div v-if="lastname_icon" class="icon-va-center">
					<i :class="[lastname_icon]"></i>
				</div>
			</div>
			-->

			<div class="col-8 col-12-xsmall"><!-- <div class="col-7 col-12-xsmall"> -->
				<input type="text"
					:class="{'input-static': !inputing}"
					:disabled="!inputing"
					:value="user.lastname"
					@input="changeUserParam('lastname', $event.target.value)"
					placeholder="Фамилия"
					required />
			</div>
			<!--
			<div class="col-1 col-0-xsmall">
				<div v-if="lastname_icon" class="icon-va-center">
					<i :class="[lastname_icon]"></i>
				</div>
			</div>
			-->


			<!-- firstname -->
			<div class="col-4 col-12-xsmall">
				<input class="input-static input-static-bold" type="text" value="Имя" disabled />
			</div>
			<div class="col-8 col-12-xsmall">
				<input type="text" name="firstname" id="firstname" :class="{'input-static': !inputing}"
					:disabled="!inputing"
					:value="user.firstname"
					@input="user.firstname = $event.target.value"
					placeholder="Имя" />
			</div>


			<div class="col-4 col-12-xsmall">
				<input type="text" class="input-static input-static-bold" value="Отчество" disabled />
			</div>
			<div class="col-8 col-12-xsmall">
				<input type="text" name="middlename" id="middlename" :class="{'input-static': !inputing}"
					:disabled="!inputing"
					:value="user.middlename"
					@input="user.middlename = $event.target.value"
					placeholder="Отчество" />
			</div>


			<div class="col-4 col-12-xsmall">
				<input type="text"
					value="Должность"
					class="input-static input-static-bold"
					disabled />
			</div>
			<div class="col-8 col-12-xsmall">
				<input type="text"
					name="position" id="position"
					:class="{'input-static': !inputing}"
					:disabled="!inputing"
					:value="user.position"
					@input="user.position = $event.target.value"
					placeholder="Должность" />
			</div>


			<div class="col-4 col-12-xsmall">
				<input class="input-static input-static-bold" type="text" value="Почта" disabled />
			</div>
			<div class="col-8 col-12-xsmall">
				<input type="email" name="email" id="email"
					:class="{'input-static': !inputing}"
					:disabled="!inputing"
					:value="user.email"
					@input="user.email = $event.target.value"
					placeholder="email@ya.ru" />
			</div>

			<div class="col-12">
				<ul class="actions">
					<li>
						<input type="button"
							:value="!editing ? 'Изменить' : 'Отменить'"
							:class="{primary: !editing}"
							@click="toggleEditing()"
							:disabled="saving" />
					</li>

					<li v-if="editing">
						<input type="button" value="Сохранить" class="primary"
							@click="save"
							:disabled="!isEnabledSave" />
						<template v-if="saving">
							&nbsp;&nbsp;
							<i class="va-m fa fa-refresh fa-spin fa-2x fa-fw"> </i>
						</template>
					</li>
				</ul>
			</div>
		</div>
	</form>

	<script>

		var data = {
			user: {
				username: 'ivanov',
				lastname: 'Иванов',
				firstname: 'Иван',
				middlename: 'Иванович',
				position: '[Врач]',
				//date_of_birth: '01.01.1980',
				email: 'ivanov@yan.ru',
			},
			editing: false,
			saving: false,
		};

		try {
			((server.data | safe));

			data = data || {};
			data = { user: data };
			var user = data.user;

			user.username = user.username || '';
			user.lastname = user.lastname || ' ';
			user.firstname = user.firstname || ' ';
			user.middlename = user.middlename || ' ';
			user.position = user.position || ' ';
			//date_of_birth = date_of_birth || ' ';
			user.email = user.email || ' ';

			data.user0 = _.cloneDeep(user);

			for (var k in user) {
				data[k + '_icon'] = null;
			}

			data.editing = data.editing || false;
			data.saving = data.saving || false;
		}
		catch (e) {
			console.log('Серверные данные не были проинициализированы');
		}

		var app = new Vue({
			el: '#form_profile',
			data: data/*,
			mounted: function () {
				$('<script src="//static//_design//assets//js//main.js"><//script>')
					.appendTo('body');
			}*/,
			computed: {
				inputing: function () {
					var v = this.editing && !this.saving;
					return v;
				},

				isEnabledSave: function () {

					if (this.saving) {
						console.log('App.computed:isEnabledSave false (this.saving)');
						return false;
					}

					if (_.isEqual(this.user0, this.user)) {
						console.log('App.computed:isEnabledSave false (_.isEqual(this.user0, this.user))');
						return false;
					}

					console.log('App.computed:isEnabledSave true');
					return true;
				}
			},
			methods: {
				changeUserParam: function (param, val) {
					console.log('App.methods:changeUserParam', param, val);
					this.user[param] = val;
				},

				toggleEditing: function () {
					if (this.editing)
						this.endEditing(false);
					else
						this.editing = true;
				},

				endEditing: function (isOk) {

					this.editing = false;
					if (isOk)
						this.user0 = _.cloneDeep(this.user);
					else
						this.user = _.cloneDeep(this.user0);
				},

				save: function () {
					this.saving = true;

					var me = this;
					axios.post('/profile', this.user)
					.then(function (response) {

						console.log(response.data.result);

						me.saving = false;
						me.endEditing(response.data.result);
					})
					.catch(function (error) {
						console.log('Error!');

						me.saving = false;
						me.endEditing(false);
					});

				}
			}
		});
	</script>

(% endblock %)
